
.card {
    display: flex;
    justify-content: center;
    align-items: center;

    .cardButton{
        font-size: 1.5rem;
        margin: 2rem;
    }

}
.text{
    display: flex;
    justify-content: center;
font-size: 5rem;
}