.notabutton-button{
    display: inline-block;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #e2ffad;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
      background-color: #d66d6d;
  }
  &.checked {
      background-color: #4eacac;
  }
}


